<%- include('../../header') %>
  <body>
    <div class="row">
      <h2 class="title">
        Admin roles:
        <a href="/admin/vagas/new">New Role</a>
      </h2>
      <ul>
          <% vagas.forEach( vaga => {  %>
            <li>
              <%- vaga.titulo %> |
              <a href="/admin/vagas/delete/<%- vaga.id %>">Excluir</a>
              <a href="/admin/vagas/edit/<%- vaga.id %>">Edit</a>
            </li>
          <% }) %>
        </ul>
    </div>


<%- include('../../footer') %>